.appBar {
  position: 'relative';
}

.icon {
  margin-right: 10px;
}

#root .home-icon:hover {
  cursor: pointer;
}

#root .icon:hover {
  cursor: pointer;
}

#root .menu-container {
  justify-content: space-between;
}